[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/glad"]
	path = external/glad
	url = https://github.com/pottierloic/orbit-glad
